/**
 * @author Bryan Haberger
 * https://github.com/thehabes
 */ 
#leafletInstanceContainer { 
    height: 50em;
    background-image: url(images/earth.gif);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center -19em;
    background-size: 85em;
    border: 1px solid black;
    z-index:0;
}
#loadingMessage{
    text-align: center;
    background-color: white;
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.grouped{
    flex-flow:  wrap;
}

.grouped div{
    display:  inline-flex;
}

.grouped input{
    height: 1.5em;
    width: 8em !important;
}

.featureInfo{
    margin: 4px 0px;
    font-family: monospace;
    font-size: 8pt;
    border-bottom: 1px solid black;
    padding: 4px 0px;
}

.featureInfo label{
    margin-right: 6px;
    font-family: sans-serif;
}

.featureInfo img, .leaflet-popup-content img{
    max-height:  270px;
}

.featureCompliance{
    text-align:center;
}

.howTo{
    font-size: 10pt;
}

@keyframes color {
    0% {
      background-color: white;
    }
    50% {
      background-color: darkgrey;
    }
    100 {
      background-color: white;
    }
}

/* Help with phones and tablets */
@media only screen and (max-width: 763px) {
    .savespace{
        display: none;
    }
    .regular-header-text{
        height:  0px;
        visibility:  hidden;
    }
    .small-header-text{
        min-width:  unset;
    }
    #leafletInstanceContainer {
        height: 50em;
    }
    footer {
        font-size:  65%;
    }
}

.text-bold{
    font-weight: bold;
}

.text-dots{
    border-bottom: 2px dotted black;
}

#viewerBody, #needs{
    padding: 1em 0em;
}

#resourceURI{
    width: 50em;
}

.is-hidden{
    display: none;
}

/* A weakness is the sidewise mobile phone, that map needs to be short! */
/*
@media only screen and (max-width: 770px) {
    #leafletInstanceContainer {
        height: 32em;
    }
}
*/